html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: #61A4BB;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
	text-align: center;
}

img {
   width: 90px;
   height: 90px;
   float: left;
}

#idCard {
   border: 5px solid black;
   height: 14em;
   width: 25em;
   background-color: #EEC4CB;
   border-radius: 25px;
   margin-top: 100px;
   font-family: sans-serif;
}

#form {
	text-align: center;
	font-weight: 800;
}

#btn {
	margin-top: 25px;
	border-radius: 4px;
}

